* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto',sans-serif;
}

body {
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
}

.btn {
  border:none;
  outline:none;
  color: #fff;
  font-size: 600;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: background .3s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 16, 16, 0.3);
  z-index: 999;
}

.circle {
  width: 40px;
  height: 40px;
  border: 5px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  border-top-color: #fff;
  position: absolute;
  top: 40%;
  left: 50%;
  animation: spin 1s linear infinite;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}